.title {
  font-weight: 600;
  font-size: 6rem;
  line-height: 1.1;
  color: $blue;
  text-transform: uppercase;
  margin: 0 0 3.1rem;

  &--white {
    color: $white;
  }


  @media (max-width: $tablet) {
    font-size: 40px;
    line-height: 1.1;
    margin: 0 0 25px;
  }

  @media (max-width: $mobile) {
    font-size: 30px;
    line-height: 1;
    margin: 0 0 25px;
  }
}
